/* You can add global styles to this file, and also import other style files */
* {
  @include box-sizing(border-box)
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 60%;
  margin-left: 15%;
  text-align: center;
}

a.active {
  background-color: darkgrey;
  color: white;
}

a.active:hover {
  background-color: white;
  color: black;
}

a {
  margin-right: 5px;
  text-decoration: none;
  background-color: darkgrey;
  color: black;
}

a:hover {
  background-color: white;
  color: black;
}

ul {
  list-style-type: none;
}

.list-container {
  padding-top: 20px;
  position: relative;
  height: 75px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrollable-list {
  height: 50px;
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

.scrollable-list a {
  background-color: darkgrey;
  margin-right: 4px;
  padding: 2px 8px;
  width: 50px;
  display: inline-block;
  text-decoration: none;
}

.scrollable-list a.active {
  color: white;
}

.scrollable-list a:hover {
  background-color: white;
}

.scrollable-list a.active:hover {
  color: black;
}

:last-child {
  margin-right: 0px;
}

.about {
  padding-top: 40px;
}

.home {
  padding-top: 40px;
}

.nav a {
  padding: 10px;
}

.albums-list {
  text-align: left;
  padding-left: 50px;
}
